@font-face {
    font-family: firasans-bold;
    src: url(../Fira_Sans/FiraSans-Bold.ttf);
  }

@font-face {
    font-family: firasans-italic;
    src: url(../Fira_Sans/FiraSans-Italic.ttf);
}

@font-face {
    font-family: firasans;
    src: url(../Fira_Sans/FiraSans-Regular.ttf);
}

@font-face {
    font-family: firasans-light;
    src: url(../Fira_Sans/FiraSans-Light.ttf);
  }

@font-face {
    font-family: firasans-regular;
    src: url(../Fira_Sans/FiraSans-Regular.ttf);
}

.approach body {
  background: none;
  background-color: var(--background-color);
}

:root{
    --default-color: #112947;
    --accent-color: #31cde6;
    --background-color: #f9f9f9;
}

.mt-6{
    margin-top: 4rem !important;
}

.mt-7{
    margin-top: 5rem !important;
}

.mt-8{
    margin-top: 6rem !important;
}

.main-content{
    /*text-shadow: 2px 2px 15px black;*/
    margin-bottom: 10vh;
}

/* Center the splash text horizontally and vertically on page */
.main-content h1{
    font-family: firasans-bold, sans-serif;
    font-weight: 700 !important;
    letter-spacing: 0.01em;

}

.main-content h2{
    font-family: firasans, sans-serif;
}
.main-content > p{
    font-family: firasans-italic;
}

.splash {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    margin-left: 10px;
    margin-right: 10px;
}

.approach {
    margin-top: 4rem;
    padding-bottom: 10rem;
    font-family: firasans-light;
    justify-content: flex-start;
    color: black;
    background: none;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color) !important;
    font-size: .9375rem;
}

.approach-header {
  font-size: 2.5em;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-left: 0;
  margin-right: 0;
}

.approach-row {
    display: flex; 
    flex-direction: row;
}

.approach-title {
  font-family: firasans-regular;
  font-size: 1.75em;
}

.approach-subtitle {
  font-size: 1.1em !important;
  margin-bottom: 1.25rem !important;
}

.approach-card-text {
  position: relative; 
/*   max-height: 5em;
  overflow: hidden; */
}

.fadeout {
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
); 
background-image: -moz-linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
);
background-image: -o-linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
);
background-image: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
);
background-image: -ms-linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
);
}

h2.step-no {
    position: absolute;
    bottom: 0.15em;
    right: 0.75em;
    color: rgba(0, 0, 0, 0.125);
}

h2.step-no:hover {
    user-select: none;
}

/* Bootstrap */
.card {
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 30%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  .card > hr {
    margin-right: 0;
    margin-left: 0;
  }
  .card > .list-group {
    border-top: inherit;
    border-bottom: inherit;
  }
  .card > .list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  .card > .list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  .card > .card-header + .list-group,
  .card > .list-group + .card-footer {
    border-top: 0;
  }
  
  .card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
  }
  
  .card-title {
    margin-bottom: 0.5rem;
  }
  
  .card-subtitle {
    margin-top: -0.25rem;
    margin-bottom: 0;
  }
  
  .card-text:last-child {
    margin-bottom: 0;
  }
  
  .card-link:hover {
    text-decoration: none;
  }
  .card-link + .card-link {
    margin-left: 1rem;
  }
  
  .card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }
  
  .card-footer {
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
  .card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  }
  
  .card-header-tabs {
    margin-right: -0.5rem;
    margin-bottom: -0.5rem;
    margin-left: -0.5rem;
    border-bottom: 0;
  }
  
  .card-header-pills {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }
  
  .card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-radius: calc(0.25rem - 1px);
  }
  
  .card-img,
  .card-img-top,
  .card-img-bottom {
    width: 100%;
  }
  
  .card-img,
  .card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  
  .card-img,
  .card-img-bottom {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  
  .card-group > .card {
    margin-bottom: 0.75rem;
  }
  @media (min-width: 576px) {
    .card-group {
      display: flex;
      flex-flow: row wrap;
    }
    .card-group > .card {
      flex: 1 0 0%;
      margin-bottom: 0;
    }
    .card-group > .card + .card {
      margin-left: 0;
      border-left: 0;
    }
    .card-group > .card:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
      border-top-right-radius: 0;
    }
    .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
      border-bottom-right-radius: 0;
    }
    .card-group > .card:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
      border-top-left-radius: 0;
    }
    .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
      border-bottom-left-radius: 0;
    }
  }
  