@font-face {
  font-family: firasans-bold;
  src: url(../Fira_Sans/FiraSans-Bold.ttf);
}

@font-face {
  font-family: firasans-italic;
  src: url(../Fira_Sans/FiraSans-Italic.ttf);
}

@font-face {
  font-family: firasans;
  src: url(../Fira_Sans/FiraSans-Regular.ttf);
}

@font-face {
  font-family: firasans-light;
  src: url(../Fira_Sans/FiraSans-Light.ttf);
}

@font-face {
  font-family: firasans-regular;
  src: url(../Fira_Sans/FiraSans-Regular.ttf);
}

@font-face {
  font-family: firasans-medium;
  src: url(../Fira_Sans/FiraSans-Medium.ttf);
}

@font-face {
  font-family: firasans-mediumitalic;
  src: url(../Fira_Sans/FiraSans-MediumItalic.ttf);
}

@keyframes partners-fadein {
  0%{ opacity: 0; transform: translate(0, 50px); }
  100%{ opacity: 1; transform: translate(0, 0) }
}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused;
}

.approach body {
  background: none;
  background-color: var(--background-color);
}

:root {
  --default-color: #112947;
  --accent-color: #31cde6;
  --background-color: #f9f9f9;
}

.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.mt-8 {
  margin-top: 6rem !important;
}


.splash {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 10px;
  margin-right: 10px;
}

a {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: black;
}

.approach {
  margin-top: 4rem;
  padding-bottom: 0rem;
  font-family: firasans-light;
  justify-content: space-between;
  color: black;
  background: none;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*     background-color: var(--background-color) !important;
 */
  font-size: .9375rem;
}

.approach-body {
  height: 100%;
  margin-bottom: 0;
}

.approach-body::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  min-height: 42rem;
  width: 100vw;
  max-height: 100vh;
  background-image: url("../images/massimo-negrello-S7WoaCSkOvo-unsplash.jpeg");
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.approach-header {
  font-size: 2.5em;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 3rem;
}

.approach-header-section {
  height: 36rem;
  min-width: 100%;
}

.approach-header h1 {
  color: white;
}

.approach-header h4 {
  color: white;
}

.approach-row {
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: initial;
  flex-flow: wrap;
  margin-left: 2rem;
  float: left;
  max-width: 60vw;
  margin-bottom: 15rem;
}

.approach-title {
  font-family: firasans-regular;
  font-size: 2em;
  color: white;
  transition: color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.approach-subtitle {
  font-size: 1.2em !important;
  color: white;
  margin-bottom: 1.25rem !important;
  transition: color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.approach-section ol {
  list-style: none;
  padding: 0;
  counter-reset: li;

}

.paw-container {
  position: relative;
}

.paw-class {
  width: 5%;
  height: 5%;
}

.partners-wrapper {
  height: 100%;
  width: 100vw;
  background-color: var(--background-color);
  color: black;
  margin-top: 4rem;
  overflow: hidden;
}

.partners-body {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  min-height: 42rem;
  width: 100vw;
  max-height: 100vh;
  background-image: none;
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.contact-wrapper {
  height: 100%;
  width: 100vw;
  background-color: var(--background-color);
  color: black;
  margin-top: 0rem;
  overflow: hidden;
}

.contact-container {
  min-height: 100%;
  max-width: 40vw;
  padding: 1rem 1rem 1rem 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.contact-container .contact-title {
  margin: 2rem;
}

.contact-container .contact-title h4 {
  margin-top: 2rem;
  font-family: firasans-light;
  color: #444;
  font-size: 1.5em;
}

.contact-body {
  height: 100%;
  margin-bottom: 0;
  background-image: none;
}

.contact-container .form-control {
  background-color: white;
  border-radius: 0;
  border-color: rgb(197, 197, 197);
  resize: none;
  padding-right: 0;
  color: #888;
}

select#subject.form-control{
  display: block;
  padding-left: 0.5rem;
}

.contact-container form {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.partners-container {
  min-height: 100%;
  max-width: 100vw;
  font-size: 2.5em;
  padding: 1rem 1rem 1rem 1rem;
  margin-left: 3rem;
}

.partners-container .partners-logos {
  max-width: 90vw;
}

.partners-container .partners-logos ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.partners-container li {
  height: 40vh;
  flex-grow: 1;
  margin: 3rem 0.5rem 0.5rem 0.5rem;
}

.partners-container .logo-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: white;
  
}

.partners-container .partners-logos ul li {
  opacity: 0;
  animation: 2s ease 0s normal forwards 1 partners-fadein;
}

/* SCSS would have been faster */

.partners-container .partners-logos ul li:nth-child(1) {
  animation-delay: 1s;
}

.partners-container .partners-logos ul li:nth-child(2) {
  animation-delay: 1.5s;
}

.partners-container .partners-logos ul li:nth-child(3) {
  animation-delay: 2s;
}

.partners-container .partners-logos ul li:nth-child(4) {
  animation-delay: 2.5s;
}

.partners-container .partners-logos ul li:nth-child(5) {
  animation-delay: 3s;
}

.partners-container .partners-logos ul li:nth-child(6) {
  animation-delay: 3.5s;
}

.partners-container .partners-logos ul li:nth-child(7) {
  animation-delay: 4s;
}

.logo-container .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  color: #FFF;
  background: rgba(0, 0, 0, .6);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
  transition: opacity 0.75s ease;
}

.logo-container:hover .after {
  opacity: 1;
  background: rgba(0, 0, 0, .6);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
  z-index: 2;
  cursor: pointer;
}

.partners-container li:last-child {
  margin-bottom: 20vh;
}

.partners-container img {
  max-height: 100%;
  min-width: 100%;
  object-fit: contain;
  vertical-align: bottom;
  transition: box-shadow 1s;
  background-color: white;
}

.partners-container img.landscape {
  max-width: 25vw;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: relative;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}

.approach-section ol li:before {
  counter-increment: li;
  content: counter(li) ". ";
  color: var(--accent-color);
  font-family: FiraSans-mediumitalic;
  font-size: 1.5em;
  margin-bottom: 3em;
}

.approach-section {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.approach-section .approach-section-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.approach-section b {
  font-family: firasans-regular;
}

.approach-section p {
  font-size: 1.16em;
  align-self: stretch;
}

.approach-section .approach-pic-cropped-kinga {
  height: auto;
  width: 40%;
  margin-left: 5%;
  border-radius: 5px;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.3));
  -webkit-filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.3));
}

.container .obedience p {
  font-size: 1.4em;
}

.obedience-motion-div {
  background-color: var(--background-color);
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 7%;
}

.approach-section .approach-pic-cropped {
  height: auto;
  max-width: 35%;
  margin-top: 1%;
  margin-left: 5%;
  border-radius: 5px;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.3));
  -webkit-filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.3));
}

.approach-section .approach-pic-cropped-left {
  height: auto;
  max-width: 50%;
  margin-left: 0;
  margin-right: 5%;
  border-radius: 5px;
  filter: drop-shadow(-10px 10px 5px rgba(0, 0, 0, 0.3));
  -webkit-filter: drop-shadow(-10px 10px 5px rgba(0, 0, 0, 0.3));
}

.approach-card {
  background-color: rgba(249, 249, 249, 0) !important;
  min-width: 21rem !important;
  border-radius: 5px;
  border: 2px solid white !important;
  backdrop-filter: blur(10px);
  height: 10rem !important;
  margin: 1em !important;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  /*   max-height: 5em;
  overflow: hidden; */
}

.approach-card::after {
  background-color: rgba(249, 249, 249, 1) !important;
  content: "";
  border-radius: 0px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9); */
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.approach-card:hover {
  transform: scale(1.05);
  border: none;
  transform: translateY(-7px);
}

.approach-card:hover .approach-title,
.approach-card:hover .approach-subtitle,
.approach-card:hover .approach-learn {
  color: black;

}

.approach-card:hover::after {
  opacity: 1 !important;
}

.approach-card .approach-learn {
  color: var(--background-color);
  transition: color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: absolute;
  bottom: 0.25em;
  right: 5em;
  stroke: white;
  stroke-width: 1;
}

.step-no {
  position: absolute;
  bottom: 1.20em;
  right: 0.75em;
  stroke: white;
  stroke-width: 1;
  transition: stroke 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.approach-card:hover .step-no {
  user-select: none;
  stroke: black;
}

.behavior {
  padding-right: 5px;
  padding-left: 5px;
}

.container .obedience {
  margin-bottom: 5rem;
}

.container .commands {
  margin-top: 5rem;
}

.container .commands li {
  font-size: 0.95em;
}

.container .behavior {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.fadeout {
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%);
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%);
}

/* Bootstrap */
.card {
  position: relative;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card>hr {
  margin-right: 0;
  margin-left: 0;
}

.card>.list-group {
  border-top: inherit;
  border-bottom: inherit;
}

.card>.list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card>.list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card>.card-header+.list-group,
.card>.list-group+.card-footer {
  border-top: 0;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-title {
  margin-bottom: 0.5rem;
}

.card-subtitle {
  margin-top: -0.25rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link+.card-link {
  margin-left: 1rem;
}

.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
  margin-left: -0.5rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-group>.card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap;
  }

  .card-group>.card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }

  .card-group>.card+.card {
    margin-left: 0;
    border-left: 0;
  }

  .card-group>.card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card-group>.card:not(:last-child) .card-img-top,
  .card-group>.card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }

  .card-group>.card:not(:last-child) .card-img-bottom,
  .card-group>.card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }

  .card-group>.card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .card-group>.card:not(:first-child) .card-img-top,
  .card-group>.card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }

  .card-group>.card:not(:first-child) .card-img-bottom,
  .card-group>.card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}