@font-face {
    font-family: firasans-bold;
    src: url(../Fira_Sans/FiraSans-Bold.ttf);
  }

@font-face {
    font-family: firasans-italic;
    src: url(../Fira_Sans/FiraSans-Italic.ttf);
}

body, html{
    color: white;
    background-color: white;
    height: 100%;
    background:url("./photoshoot.JPG") rgba(0, 0, 0, 0.6);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.mt-6{
    margin-top: 4rem !important;
}

.mt-7{
    margin-top: 5rem !important;
}

.mt-8{
    margin-top: 6rem !important;
}

/* Center the splash text horizontally and vertically on page */
.main-content{
    font-family: firasans-bold;
    font-weight: 700 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main-content > p{
    font-family: firasans-italic;
}