@font-face {
    font-family: firasans-bold;
    src: url(../Fira_Sans/FiraSans-Bold.ttf);
  }

@font-face {
    font-family: firasans-italic;
    src: url(../Fira_Sans/FiraSans-Italic.ttf);
}

@font-face {
    font-family: firasans;
    src: url(../Fira_Sans/FiraSans-Regular.ttf);
}

@font-face {
    font-family: firasans-light;
    src: url(../Fira_Sans/FiraSans-Light.ttf);
  }

@font-face {
    font-family: firasans-lightitalic;
    src: url(../Fira_Sans/FiraSans-ExtraLightItalic.ttf);
}

@font-face {
    font-family: firasans-medium;
    src: url(../Fira_Sans/FiraSans-Medium.ttf);
  }


:root{
    --default-color: #112947;
    --accent-color: #31cde6;
    --background-color: #f9f9f985;
}

body{
    
    
    height: 100vh;
    background-color: var(--background-color);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.home-body {
    background:url("../images/photoshoot2-flipped.png"), linear-gradient(rgba(0,0,0,0) 40%, black), radial-gradient(ellipse at center top, transparent 20%,black);
    height: 100vh;
    background-color: var(--background-color);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.mt-6{
    margin-top: 4rem !important;
}

.mt-7{
    margin-top: 5rem !important;
}

.mt-8{
    margin-top: 6rem !important;
}

.main-content{
    /*text-shadow: 2px 2px 15px black;*/
    margin-bottom: 10vh;
}

/* Center the splash text horizontally and vertically on page */
.main-content h1{
    font-family: firasans-bold, sans-serif;
    font-weight: 700 !important;
    letter-spacing: 0.01em;

}

.main-content h2{
    font-family: firasans, sans-serif;
}

.main-content h3{
    font-family: firasans-lightitalic, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.main-content > p{
    font-family: firasans-italic;
}

.splash {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    margin-left: 10px;
    margin-right: 10px;
}

.about {
    margin-top: 4%;
    margin-bottom: 10%;
    font-family: firasans-light;
    color: black;
    min-height: 100%;
    max-width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    font-size: 1.25rem;
    justify-content: space-between;
}

.landingServices {
    margin-top: 4%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    font-family: firasans-light;
    color: black;
    display: flex;
    flex-direction: row;
    background-color: #f9f9f9;
    font-size: 1.25rem;
    justify-content: space-between;
}

.pricing-column {
    padding-left: 0;
    padding-right: 0;
}

.landing-prices {
    
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5rem;
    text-align: center;
}

.landing-prices-features {
    color: rgb(83, 83, 83);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.landing-image {
    max-width: 80%;
    height: auto;
    margin: 1rem 1rem;
}

.btn-services {
    /*background: linear-gradient(to left, #32A1AA,#00F9FF)
     background-color: pink;
 */
 
    background-color: var(--accent-color); /* 33e3ff alternate */ 
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    width: 8em;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 0;
    height: 3em;
    text-align:center;
    border: none;
    background-size: 300% 100%;
}

.landing-prices-features {
    padding: 0 10px;
    margin: auto 1rem;
    border-bottom: 1px solid var(--accent-color);
}

.landing-prices-features li{
    margin: 1rem auto;
    font-size: 1rem;
}

.landing-prices h3{
    color: black;
    font-family: firasans;
    margin-bottom: 40px;
    margin-top: 25px;
    position: relative;
    font-size: 1.5rem;
}

.landing-prices-title::before{
    content: '';
    position: absolute;
    width: 25%;
    height: 1px;
    bottom: -7px;
    left: 37.5%;
    right: 37.5%;
    margin: 0 auto;
    background: var(--accent-color);
}

.servicesCol .list-group-item{
    background-color: lightgrey !important;
}

.servicesCol {
    flex-direction: column;
}

.services-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.services-container .col-lg-5 {
    margin-left: 1rem;
    margin-right: 1rem;
    flex-grow: 0;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    background-color: white;
    padding: 2rem;
    border:1px solid rgba(0, 0, 0, 0.2)
}

.services-container .col-lg-5 p {
    font-size: 1rem;
}

Button.splashButton {
    color: white;
    padding: .375rem .75rem;
    border-style: solid;
    border-radius: 5px;
    font-family: firasans-light;
    font-size: 24px;
    letter-spacing: 0.1rem;
    background-color: RGBA(0,0,0,0);
    border-color: white;
    display: flex;
    align-items: center;
    will-change: transform;
}

.splashCard{
    color: white;
    background-color: rgba(17,41,71,0.5);
    max-width: 300px;
}

.circlePic {
    width: 100%;
    max-width: 295px;
    max-height: 295px;
    height: auto;
    margin-bottom: 10%;
    margin-top: 10%;
    margin-right: 0%;
    filter: drop-shadow(30px 10px 5px #112947);
    -webkit-filter: drop-shadow(10px 10px 5px #112947);
}

.aboutHeader {
    margin-top: 5%;
    font-family: firasans-bold;
    font-size: 2.0em;
}

.aboutContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aboutPara {
    margin-top: 1%;
    margin-right: 8%;
    font-size: 0.90em;
    color: #565656;
}

h1.text-left {
    font-family: firasans-medium;
}

.checkmark-container {
    margin-top: -15rem !important;
    display: flex;
    margin-top: 1vh;
    flex-direction: column;
    font-size: 1em;
}

.checkmark-container .text-left{
    /* maybe play with font weight of checkbox text */
    margin-bottom: 0.5rem;
}

svg.check-scaled {
    margin-right: 0.75rem;
}

p.text-left {
    font-family: firasans-light;
    color: #565656;
}