@font-face {
  font-family: firasans-light;
  src: url(../Fira_Sans/FiraSans-Light.ttf);
}

body {
  padding-top: 2rem;
}

.navbar {
  -webkit-transition: .5s cubic-bezier(0, 1, 0.5, 1);
  -moz-transition: .5s cubic-bezier(0, 1, 0.5, 1);
  -ms-transition: .5s cubic-bezier(0, 1, 0.5, 1);
  -o-transition: .5s cubic-bezier(0, 1, 0.5, 1);
  transition: .5s cubic-bezier(0, 1, 0.5, 1);
  max-height: 100px;
  background-color: #112947;

}

.nav-links{
  margin-bottom: 0.3rem;
}

.navbar-transparent {
  -webkit-transition: .5s cubic-bezier(0, 1, 0.5, 1);
  -moz-transition: .5s cubic-bezier(0, 1, 0.5, 1);
  -ms-transition: .5s cubic-bezier(0, 1, 0.5, 1);
  -o-transition: .5s cubic-bezier(0, 1, 0.5, 1);
  transition: .5s cubic-bezier(0, 1, 0.5, 1);

  background-color: transparent !important;
}

.nav-link {
  z-index: 15;
  font-family: firasans-light;
  margin: 0.5em;
  position: relative;
  padding: 1em;
  font-size: 1.25em;
  color: white /* !important */;
  cursor: pointer;
}

.dom-link { 
  color: white /* !important */;
  cursor: pointer;
}

.dom-link:hover{
  color:white;
  text-decoration: none;
}

.navbar-brand {
  color: white !important;
}

.slide-enter {
  transform: translateY(-100%);
  transition: .3s cubic-bezier(0, 1, 0.5, 1);
}
.slide-enter.slide-enter-active {
    transform: translateY(0%);
}

.siteLogo {
  width: 100%;
  max-width: 270px;
  height: auto;
  
}

.slide-exit {
  transform: translateY(0%);
  transition: .3s ease-in-out;
}
.slide-exit.slide-exit-active {
  transform: translateY(-100%);
}
.dropdown .dropdown-menu {
  -webkit-transition: .5s cubic-bezier(0, 1, 0.5, 1);
  -moz-transition: .5s cubic-bezier(0, 1, 0.5, 1);
  -ms-transition: .5s cubic-bezier(0, 1, 0.5, 1);
  -o-transition: .5s cubic-bezier(0, 1, 0.5, 1);
  transition: .5s cubic-bezier(0, 1, 0.5, 1);

  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.dropdown-menu.show {
  max-height: 200px;
  opacity: 1;
}

.horizontal-nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.underline {
  /* fix box width */
  width: calc(100% - 2em);
  height: 3px;
  border-radius: 0px;
  background: black;
  /* Remember: relative/absolutely positioned nodes 
  will be used in reference with each other for calculations.
  
  Since the navbar nav-link is absolute (not relative),
  use absolute positioning on the underline for the right
  width % calculation. */
  position: absolute;
  bottom: 15px;
  z-index: 10;
}

.no-underline {
    /* set invisible underline */
    width: 0;
    height: 3px;
    border-radius: 0px;
    background: black;
    position: absolute;
    bottom: 15px;
    z-index: 5;
}